image: Visual Studio 2022

environment:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 'true'

before_build:
  - ps: dotnet --info

build_script:
  - cmd: powershell -NoProfile -ExecutionPolicy Bypass -File build-ci.ps1

artifacts:
  - path: Il2CppDumper\bin\Release\published\**\*
    name: Published
